@model IEnumerable<canteenVLU.Models.ACCOUNT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>ADMIN</h2>

<p>
    <a href="@Url.Action("Create")">
        <i class="fas fa-plus-circle"> New Admin !!</i>
    </a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">LIST ADMIN</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PASSWORD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FULL_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STATUS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ROLE)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PASSWORD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FULL_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ROLE)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit",new {id = item.ID })">
                            <i class="fas fa-edit"></i>
                        </a> |
                        <a href="@Url.Action("Details",new {id = item.ID })">
                            <i class="fas fa-info-circle"></i>
                        </a> |
                        <a href="@Url.Action("Delete",new {id = item.ID })">
                            <i class="far fa-times-circle"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PASSWORD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FULL_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STATUS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ROLE)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

