@model canteenVLU.Models.FOOD

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div>
        <a href="@Url.Action("Index")">
            <i class="fas fa-chevron-circle-left fa-2x"> Back</i>
        </a>
    </div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FOOD_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOOD_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOOD_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOOD_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            IMAGE
        </dt>

        <dd>
            
                <img src="~/@Model.IMAGE_URL" width="100" />
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY.CATEGORY_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY.CATEGORY_CODE)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit",new { id = Model.ID })">
        <i class="fas fa-edit"></i> Edit
    </a>
</p>
